<div class="ts-u-display--flex ts-u-justify--space-between ts-u-margin-top--md">
  <img class="logo-landing-image" src="assets/defence.png"/>
  <div class="landing-bio">
    <p>DefenceFirst is a multinational company that offers services such as monitoring of military units.</p>
    <p>As you probably know, military units defend country from external armed threats and execute classified missions that concern national security.</p>
    <p>We offer services to such military units and provide an absolutely best way to securely store sensitive and classified data.</p>
  </div>
</div>